
  .container {
    /* text-align: center; */
  }
  
  .logo {
    animation: logo-spin infinite 20s linear;
    height: 120px;
  }
  
  .header {
    background-color: #222;
    padding: 80px;
    color: white;
    background-image: url('https://cdn.pixabay.com/photo/2017/03/26/16/06/architecture-2175925_960_720.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  
  .title {
    font-size: 3em;
  }
  
  .intro {
    font-size: large;
  }

  .headline {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  
  @keyframes logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  