
  .App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 120px;
  }
  
  .App-header {
    background-color: #222;
    padding: 80px;
    color: white;
    background-image: url('https://cdn.pixabay.com/photo/2017/03/26/16/06/architecture-2175925_960_720.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Header-Video {
    width: 100%;
  }
  
  .App-title {
    font-size: 3em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  