
/* desktop styles */

.home-container {
  display: inline-block;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.home-header {
  width: 100%;
  height: 80px;
  background-color: aquamarine;
}

.home-left-menu {
  float: left;
  min-width: 100px;
  width: 15%;
  height: 100%;
  background-color: blueviolet;
}

.home-contents {
  float: left;
  width: 70%;
  height: 100%;
  background-color: burlywood;
}

.home-right-menu {
  float: right;
  min-width: 100px;
  width: 15%;
  height: 100%;
  background-color: coral;
}

/* phone styles*/
@media (max-width: 576px) {
  .home-container {
      background-color: green
  }
}
